@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Public Timeline | Chirp";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>
    
    <partial name="_CheepBox" model="Model.CheepBox" />
    
    @if (Model.Cheeps.Any())
    {
        <partial name="_CheepList" model="Model" />
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
