@page "/{user}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("user");
    ViewData["Title"] = $"{routeName} | Chirp";
}

<div>
    <h2> @routeName's Timeline </h2>
    <partial name="_ProfileInfo" model="Model" />
    <partial name="_CheepBox" model="Model.CheepBox" />
    
    @if (Model.Cheeps.Any())
    {
        <partial name="_CheepList" model="Model" />
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
