@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav ms-auto">
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link" href="/@(User.Identity.Name)">my timeline</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">public timeline</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">logout [@(User.Identity.Name)]</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" href="/">public timeline</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">login</a>
        </li>
    }
</ul>

