<div class="card mb-2">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <div>
                <strong>
                    <a href="/@Model.userInfo.UserName" class="text-decoration-none">@Model.userInfo.UserName</a>
                </strong>
                <div class="d-flex mt-2">
                    <span class="me-3"><strong>@Model.userInfo.Followers.Count</strong> Followers</span>
                    <span><strong>@Model.userInfo.Following.Count</strong> Following</span>
                </div>
            </div>
        </div>
    </div>
</div>